.team {
    background-color: var(--bg-grey);

    &__list {
        display: flex;
        justify-content: center;
        margin-top: 50px;
        gap: 30px;
    }

    &__item {
        display: block;
        box-sizing: border-box;
        text-align: center;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
    }


    &__desc {
        padding: 30px 15px;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.1875;
        background-color: var(--bg-white);
    }

    &__name {
        padding-bottom: 10px;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.1875;
        color: var(--header-text-color);
    }

    
}
